/* ====Reset css===== */

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  font-size: 16px;
}

/* ======== Main menu styles ========== */

#main-nav {
  margin-top: 10px;
}

#main-nav ul {
  background: #a3daf0;
  list-style-type: none;
  display: flex;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.86);
  -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.86);
  box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.86);
}

#main-nav li {
  padding: 5px 0;
  position: relative;
}

#main-nav a {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
  font-weight: 700;
}

#main-nav a:hover {
  background: #e87bb0;
  cursor: pointer;
}

/* =========== Sub menu styles ======== */
#main-nav .sub-nav {
  display: none;
  position: absolute;
  width: 230px;
  top: 52px;
  /* left: 70px;  */
  border-radius: 6px;
}

#main-nav .sub-nav li {
  padding: 5px;
}

#main-nav li:hover .sub-nav {
  display: block;
  cursor: pointer;
}

/* ========== Form styles ========= */
.modal {
  /* display: none;  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.btn {
  border: none;
  border-radius: 4px;
  /* padding: 5px 10px; */
  height: 26px;
  width: 40px;
  cursor: pointer;
  display: block;
}
.btn-save {
  color: white;
  background: #0b12d9;
}

.btn-cancel {
  background: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.create-new-job {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow-y: scroll;
  width: 40vw;
  height: 80vh;
  padding: 15px;
  border-radius: 2px;
}

/* width */
.create-new-job::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.create-new-job::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.create-new-job::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */

.create-new-job * {
  font-size: 12px;
}

.btn-list {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

input[type="text"] {
  border-radius: 4px;
  background: #e9ebf0;
  outline: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}

input[type="text"]:focus {
  border: 2px solid #0b12d9;
  background: #ffffff;
}

select {
  color: darkcyan;
  border: none;
  outline: none;
  background: #d1cec5;
  padding: 5px 15px;
}

input[type="checkbox"] {
  transform: scale(1);
}

table th,
table td {
  text-align: center;
  padding: 10px;
}

.fa-trash-alt {
  color: red;
  padding-left: 10px;
}

.grey-ground {
  background: #e9ebf0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-info {
  padding-top: 15px;
  padding-left: 15px;
}

.input-info div {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

.input-info div .btn {
  align-self: flex-end;
}

.input-info div:first-child .label {
  padding-right: 45px;
}

.input-info div:nth-child(2) .label {
  padding-right: 15px;
}
.input-info div:nth-child(3) .label {
  padding-right: 66px;
}

.input-info div:nth-child(3) .btn {
  /* margin-top: -4px; */
  margin-left: 50px;
}

.input-info div:nth-child(4) select {
  margin-left: 25px;
}

.input-info div:nth-child(4) .btn {
  margin-left: 150px;
}

input.in-grey {
  background: white;
}

.input-wrapper {
  margin-bottom: 25px;
}

.label {
  margin-bottom: 6px;
  font-weight: 600;
  color: darkcyan;
}
.last-input {
  margin-top: 40px;
  margin-bottom: 20px;
}

.last-input input {
  margin: 20px 0;
}

.notice {
  opacity: 0.6;
}

.required::after {
  content: "*";
  color: red;
}

.tag {
  /* display: flex; */
  display: inline-flex;
  flex-direction: row;
  margin-top: 5px;
}
.tag div {
  padding: 2px;
  color: darkcyan;
  font-weight: 600;
  background: #d1cec5;
  border-radius: 4px;
  padding: auto 6px;
}

.tag div:first-of-type {
  margin-right: 5px;
}

.xtag {
  color: darkcyan;
  font-weight: 600;
  padding: auto 10px;
  cursor: pointer;
  font-size: 14px;
}
